body {
  margin: 0;
  background: radial-gradient(circle, #000 40%, #001a00);
  overflow: hidden;
  font-family: Arial;
  color: white;
}

#container {
  width: 100vw;
  height: 100vh;
}

/* UI */
.ui {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.7);
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #00ff00;
  box-shadow: 0 0 40px #00ff00;
  text-align: center;
  width: 280px;
}

h2 {
  color: #00ff00;
}

input {
  margin: 5px;
  color: white;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  background: linear-gradient(45deg,#00ff00,#00aa00);
  border: none;
  border-radius: 12px;
  font-weight: bold;
  color: black;
}
